.App {
  text-align: center;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
}

.card{
  margin-top: 60px;
  
}

.info{
  margin-top:10px ;
}


.descrip{

  display: flex;
  
  padding: 10px 30px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

}

.descrip p {
  
  font-size: 1.1rem;
  text-align: left;

}

h2{
  margin-top: 10px;
  margin-bottom:10px;
}

span {
  font-size: 0.8rem;
  margin-top: -10px;
}






.descrip2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.descrip3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.descrip3 p{
  margin-top: 20px;
}