.App {
  text-align: center;
}

.card{
  margin-top: 100px;
  
}

.info{
  margin-top:10px ;
}


.descrip{

  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: 1fr;
  padding: 10px 30px;
  gap: 20px;
  align-content: center;
  justify-content: center;
  
}

.descrip p {
  
  font-size: 1.1rem;
  text-align: left;

}

span {
  font-size: 0.8rem;
}

i{
  font-size: 1.4rem;
  text-align: start;
  margin-top: -5px;
}


.text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
}



.firtIcon{
  margin-top: 8px;
}

.secondIcon{
  font-size: 2rem;
  margin-top: -15px;
  margin-left: -6px;
}